p,
span {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*-------------------------------------------------------------------------------
 header 
 -------------------------------------------------------------------------------*/

.header {
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.header__conteiner {
    top: 29px;
    right: 100px;
    left: 54px;
    bottom: 30px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__conteiner>a {
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
}


.logo2 {
    color: #000;
    font-size: 34px;
    font-family: 'Poppins';
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 65px;
}

.nav__list {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    transition: 0.5s;
}

.nav__list:hover {
    color: #B88E2F;
}

.header__elements {
    display: flex;
    justify-content: space-between;
    gap: 45px;
}

.elements__list {
    font-family: 'Poppins';
    text-decoration: none;
}

/*----------------------------------------------------------------------------------
 intro_page 
 ----------------------------------------------------------------------------------*/

.intro__page {
    background-image: url("/images/intro.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.intro__container {
    width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 56px;
}

.intro__content {
    background-color: #FFF3E3;
    width: 40em;
    height: 28em;
    display: flex;
    border-radius: 10px;
}

.intro__content__box {
    margin-top: 4em;
    margin-bottom: 2.5em;
    margin-left: 2.5em;
    margin-right: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: first baseline;

}

.intro__content1 {
    color: #333;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 1em;
    margin: 0;
    letter-spacing: 3px;
}

.intro__content2 {
    color: #B88E2F;
    font-family: 'Poppins';
    font-size: 4em;
    font-style: normal;
    margin: 0;
    line-height: 65px;
}

.intro__content3 {
    color: #333;
    font-family: 'Poppins';
    font-style: normal;
    line-height: 24px;
    margin: 0;
}

.button1 {
    background-color: #B88E2F;
    color: #fff;
    text-align: center;
    font-family: 'Poppins';
    font-size: 1em;
    text-decoration: none;
    padding-left: 4.5em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-right: 4.5em;
}

/*-----------------------------------------------------------------------
main container
-------------------------------------------------------------------------*/


.main>h2 {
    text-align: center;
    color: #333;
    font-size: 32px;
    font-family: 'Poppins';
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

.main>p {
    text-align: center;
    font-family: 'Poppins';
    color: #666666;
    font-weight: 400;
    font-size: 1.25em;
    margin: 0;
    margin-bottom: 56px;
}

.conteiner {
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.main>h2 {
    text-align: center;
    color: #333;
    font-size: 32px;
    font-family: 'Poppins';
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

.main>p {
    text-align: center;
    font-family: 'Poppins';
    color: #666666;
    font-weight: 400;
    font-size: 1.25em;
    margin: 0;
    margin-bottom: 56px;
}

.main__cards {
    width: 1183px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    column-gap: 19.5px;
}

.main__card {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    color: #333;
    font-size: 24px;
    font-style: normal;
}

.main__card>img {
    border-radius: 10px;
    margin-bottom: 30px;
}

.main__card>a {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    color: #333;
    font-size: 24px;
    font-style: normal;
    text-decoration: none;
    position: relative;
    transition: color .2s linear;
}

.main__card>a:hover {
    color: #B88E2F;
}

/*--------------------------------------------------------------------------------
cards container
--------------------------------------------------------------------------------*/

.cards__conteiner {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.Products__intro {
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

.cards {
    width: 1236px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: stretch;
    column-gap: 32px;
    row-gap: 32px;
}

.card {
    width: 285px;
    height: 446px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #F4F5F7;
}

.card__img__box {
    display: flex;
    justify-content: right;
}

.card__img__box>img {
    width: 100%;
}

.sale__box {
    background-color: #E97171;
    position: absolute;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-top: 1em;
    margin-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sale__box__info {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    color: white;
    font-size: 1em;
}

.new__product__box {
    background-color: #2EC1AC;
    position: absolute;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-top: 1em;
    margin-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new__product__box__info {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    color: white;
    font-size: 1em;
}

.card__info__box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #3A3A3A;
    margin-left: 16px;
    margin-right: 20px;
    margin-top: 16px;
    margin-bottom: 30px;
}

.card__info__box>h3 {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
}

.description {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1em;
    color: grey;
    padding: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}

.card__prise__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new__prise {
    color: #3A3A3A;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
}

.start__prise {
    color: gray;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1em;
    color: grey;
    text-decoration-line: line-through;
    margin: 0;
}

.card__hover_box>p {
    margin: 0;
}

.card__hover_box {
    transition: .7s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    background-color: rgba(58, 58, 58, 0.7);
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card__hover_box:hover {
    opacity: 1;
}

.card__hover_box__frame {
    display: flex;
    gap: 20px;
}

.card__hover_box__frame>a {
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
    font-weight: 600;
    margin: 0;
}

.card__hover_box__frame_scl {
    color: white;
    display: flex;
}

.card__hover_box__frame_scl>p {
    margin: 0;
    transition: 0.5s;
}

.card__hover_box__frame_scl:hover {
    color: #B88E2F;
}

.card__hover_box__button {
    text-align: center;
    background-color: white;
    border: 1px solid white;
    padding: 12px 59px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    color: #B88E2F;
    text-decoration: none;
    transition: .5s;
}

.card__hover_box__button:hover {
    background-color: #B88E2F;
    border: 1px solid #B88E2F;
    color: white;
    cursor: pointer;
}

.card__hover_box__button>a:hover {
    color: white;
}

.card__hover_box__button>a {
    font-family: 'Poppins';
    font-size: 16px;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    color: #B88E2F;
}

.button {
    display: flex;
    justify-content: center;
    margin-bottom: 69px;
}

.button>a {
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #B88E2F;
    padding: 12px 74px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    color: #B88E2F;
    text-decoration: none;
}

.button>a:hover {
    color: #fff;
    background-color: #B88E2F;
    opacity: 0.7;
    transition: .7s;
}

/*--------------------------------------------------------------------------------------
image conteiner
--------------------------------------------------------------------------------------*/


.images__conteiner {
    width: 1440px;
    height: 624px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 50px;
}


.image__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    left: 576px;
    right: 576px;
    bottom: 553px;
}

.image__text>p {
    color: #616161;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.image__text>h2 {
    color: #3A3A3A;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding: 0;
}


.image1 {
    background-image: url(/images/home/Rectangle\ 36.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 47px;
    bottom: 271px;
    left: 0;
    right: 1220px;
}

.image2 {
    background-image: url(/images/home/Rectangle\ 37.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 365px;
    bottom: 0;
    left: 72px;
    right: 1134px;
}

.image3 {
    background-image: url(/images/home/Rectangle\ 38.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 103px;
    bottom: 271px;
    left: 232px;
    right: 846px;
}

.image4 {
    background-image: url(/images/home/Rectangle\ 39.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 365px;
    bottom: 65px;
    left: 317px;
    right: 846px;
}

.image5 {
    background-image: url(/images/home/Rectangle\ 40.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 172px;
    bottom: 138px;
    left: 605px;
    right: 597px;
}

.image6 {
    background-image: url(/images/home/Rectangle\ 41.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 417px;
    bottom: 12px;
    left: 854px;
    right: 442px;
}

.image7 {
    background-image: url(/images/home/Rectangle\ 43.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 126px;
    bottom: 219px;
    left: 854px;
    right: 352px;
}

.image8 {
    background-image: url(/images/home/Rectangle\ 44.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 417px;
    bottom: 0;
    left: 1012px;
    right: 159px;
}

.image9 {
    background-image: url(/images/home/Rectangle\ 45.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 58px;
    bottom: 219px;
    left: 1099px;
    right: 0;
}

.footer__line {
    width: 100%;
    margin: 0 auto;
    border-color: #D9D9D9;
}

/*--------------------------------------------------------------------------------
footer conteiner
--------------------------------------------------------------------------------*/

.footer {
    margin: 0 auto;
    width: 1440px;
    height: 505px;
    position: relative;
}


.footer__main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 48px;
    left: 100px;
    bottom: 38px;
    right: 100px;
}


.footer__wrap1__content {
    display: flex;
    justify-content: space-between;
}

.footer__wrap1__content1>h3 {
    color: #000;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 46px;
}

.footer__wrap1__content1>p {
    color: #9F9F9F;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.footer__wrap1__content2 {
    width: 352px;
    height: 312px;
    display: flex;
    justify-content: space-between;
}

.footer__links_helps {
    display: flex;
    flex-direction: column;
    gap: 46px;
}

.lha {
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer__links_helps>a {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: 0.5s;
}

.footer__links_helps>a:hover {
    color: #B88E2F;
}

.footer__wrap1__content3 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 286px;
    height: 93px;
}

.footer__wrap1__content3>span {
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 16px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.subskribe {
    display: flex;
    justify-content: space-between;
    gap: 11px;
}

.subskribe1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subskribe2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subskribe2>a {
    color: #000;
    font-family: 'Poppins';
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    margin: 0;
    transition: 0.5s;
}

.subskribe2>a:hover {
    color: #B88E2F;
}

.line {
    margin: 0;
    border-color: #000;
}

.subskribe__input {
    color: #9F9F9F;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    outline: none;
}

.footer__main__wrap2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1240px;
    height: 59px;
}

.line__footer__wrap2 {
    width: 1240px;
    border-color: #D9D9D9;
    margin: 0;
}

.footer__main__wrap2>p {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

/*--------------------------------------------------------------------------------
shop page
--------------------------------------------------------------------------------*/

.shop__preview {
    background-image: url(/images/shop/shop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 316px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}

.shop__preview__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shop__preview__info>h3 {
    color: #000;
    font-family: 'Poppins';
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.shop__home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.shop__home>span {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.shop__home>p {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
    padding: 0;
}

/*-----------------------------------------------------------------------------------
shop  settings
-----------------------------------------------------------------------------------*/

.shop__settings {
    height: 100px;
    background-color: #F9F1E7;
    margin-bottom: 63px;
}

.shop__settings__conteiner {
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.shop__settings__conteiner__wrap {
    position: absolute;
    top: 22px;
    bottom: 23px;
    left: 102px;
    right: 102px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop__filter__left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.shop__filter__left>p {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.shop__filter__left>span {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.shop__filter__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9F1E7;
    border: none;
    cursor: pointer;
}

.shop__grig__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9F1E7;
    border: none;
    cursor: pointer;
}

.shop__view-list__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9F1E7;
    border: none;
    cursor: pointer;
}

.shop__filter__left .settings__line {
    width: 2px;
    height: 37px;
    background-color: #9F9F9F;
    border-color: #9F9F9F;
    margin-right: 22px;
    margin-left: 12px;
}

.shop__filter__right {
    display: flex;
    align-items: center;
    gap: 29px;
}

.shop__show {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
}

.shop__show>p {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.shop__show__input {
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    outline: none;
    width: 20px;
    height: 30px;
    padding: 12px 18px;
}

.shop__short {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
}

.shop__short>p {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.shop__short__input {
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    outline: none;
    width: 128px;
    height: 30px;
    padding: 12px 30px;
}

.shop__pages>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    gap: 38px;
    margin-bottom: 85px;
}

.shop__pages__numbers>a {
    text-align: center;
    background-color: #F9F1E7;
    border: 1px solid #F9F1E7;
    padding: 15px 24px;
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    border-radius: 10px;
    line-height: normal;
    text-decoration: none;
    transition: 0.5s
}

.shop__pages__numbers>a:hover,
.shop__pages__numbers>a:focus {
    background-color: #B88E2F;
    border: 1px solid #B88E2F;
    color: #fff;
}

.shop__pages__next>a {
    text-align: center;
    background-color: #F9F1E7;
    border: 1px solid #F9F1E7;
    padding: 15px 28px;
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    border-radius: 10px;
    line-height: normal;
    text-decoration: none;
    transition: 0.5s
}

.shop__pages__next>a:hover,
.shop__pages__next>a:focus {
    background-color: #B88E2F;
    border: 1px solid #B88E2F;
    color: #fff;
}


/*--------------------------------------------------------------------------------
achivment conteiner
--------------------------------------------------------------------------------*/

.achivmet {
    width: 100%;
    height: 260px;
    margin: 0 auto;
    background-color: #FAF3EA;
}

.achivmet__conteiner {
    width: 1440px;
    height: 260px;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.achivmet__conteiner__wrap {
    width: 1334px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.achivmet__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.achivmet__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
}

.achivmet__info>h3 {
    color: #242424;
    font-family: 'Poppins';
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.achivmet__info>p {
    color: #898989;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------------------------
Blog page (About)
--------------------------------------------------------------------------------*/

.blog__preview {
    background-image: url(/images/blog/Rectangle\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 316px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 30px;
}

.blog__preview__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.blog__preview__info>h3 {
    color: #000;
    font-family: 'Poppins';
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin: 0;
    padding: 0;
}

.blog__home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.blog__home>span {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.blog__home>p {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
    padding: 0;
}


/*--------------------------------------------------------------------------------
Blog content
--------------------------------------------------------------------------------*/
.main__blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*--------------------------------------------------------------------------------
Blog left side
--------------------------------------------------------------------------------*/

.blog__content {
    width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.blog__content__left {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 817px;
}

.main__posts>h3 {
    color: #000;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    padding: 0;
    margin-bottom: 12px;
}

.main__posts>span {
    color: #9F9F9F;
    text-align: justify;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    word-break: break-all;
}

.img__box1 {
    background-image: url(/images/blog/Rectangle\ 67.jpg);
    border-radius: 10px;
    width: 817px;
    height: 500px;
}

.img__box2 {
    background-image: url(/images/blog/Rectangle\ 33.png);
    border-radius: 10px;
    width: 817px;
    height: 500px;
}

.img__box3 {
    background-image: url(/images/blog/Rectangle\ 68.jpg);
    border-radius: 10px;
    width: 817px;
    height: 500px;
}

.user {
    width: 349px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}


.user__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    margin-bottom: 15px;
    margin-top: 17px;
}

.user__info>p {
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.readmore__button {
    color: #000;
    text-align: justify;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
    border: none;
    background-color: white;
    cursor: pointer;
    position: relative;
    margin-bottom: 60px;
    margin-top: 30px;
    transition: 0.5s;
}

.readmore__button::after {
    content: "";
    display: block;
    width: 86%;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 130%;
    left: 7%;
    transition: 0.5s;
}

.readmore__button:hover {
    color: #B88E2F;
}

.readmore__button:hover::after {
    background-color: #B88E2F;
}

/*--------------------------------------------------------------------------------
Blog right side
--------------------------------------------------------------------------------*/

.blog__content__right {
    display: flex;
    flex-direction: column;
    gap: 41px;
    align-items: center;
    padding: 0;
}

.blog__categories {
    width: 393px;
    height: 537px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 43px;
}

.categories__search {
    height: 58px;
}

.categories__search>form {
    position: relative;
    width: 311px;
    margin: 0 auto;
}

.search__input {
    position: absolute;
    width: 100%;
    height: 58px;
    border-radius: 10px;
    border: 1px solid #9F9F9F;
    background: #FFF;
    outline: none;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    transition: 0.2s;
}

.search__input:focus {
    border: 1px solid #B88E2F;
}

.search__button {
    position: absolute;
    top: 3px;
    right: 0px;
    margin: 0;
    width: 58px;
    height: 58px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: #FFF;
}

.categories {
    width: 251px;
    height: 353px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.categories__list {
    display: flex;
    justify-content: space-between;
}

.categories__list>a {
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

.categories__list>a:hover {
    color: #000;
}

.categories__list>p {
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.recent__posts__conteiner {
    width: 393px;
    height: 650px;
    display: flex;
    align-items: center;
}

.recent__posts__list {
    width: 252px;
    height: 618px;
}

.recent__posts__list>h4 {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    padding: 0;
    margin: 0;
    margin-bottom: 26px;
}

.recent__posts__list>ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.recent__post {
    margin-bottom: 39px;
    align-items: center;
    display: flex;
    gap: 12px;
}

.recent__post__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.recent__post__info>p,
span {
    margin: 0;
    padding: 0;
}